.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.textLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.textLink:hover {
  text-decoration: none;
}
